<HTML>
        <BODY>
            <H1>Hello from EJS</H1>
            <ul>
                <% users.forEach(function(user){ %>
                  <hr><%= user.name %>
                <% })%>
              </ul>
              
        </BODY>
</HTML>
